{% extends 'base.html' %} {% set categories = categories %} {% include 'posts/header.html'%}
{% include 'posts/slider.html'%} {% block content %}

<div class="row">
    <div class="col-md-12">
      <p align="center" class="category-title">Все посты по 
          
        {% if type == 'category' %}
        категории
        {% else %}
        тегу
        {% endif %}
        
        {{ posts.items[0].category.name }}</p>
    </div>
</div>
<!-- 4 больших карточки с постами -->
<div class="grid-posts">
  <div class="container">
    <div class="row">
      {% for post in posts.items %}
      <div class="col-md-6">
        <div class="card">
          <a href="{{ url_for('posts.post_detail', slug=post.slug) }}">
          <img
            class="card-img-top"
            src="{% if not post.image_url %} https://i.picsum.photos/id/1015/6000/4000.jpg?hmac=aHjb0fRa1t14DTIEBcoC12c5rAXOSwnVlaA5ujxPQ0I {% else %} {{ post.image_url }} {% endif %}"
             alt="Card image cap"
          />
          </a>
          <div class="card-block">
            <h6 class="card-category">{{ post.category.name }}</h6>
            <h4 class="card-title">{{ post.title }}</h4>
            <p class="card-text">{{ post.text }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
        <div class="row">
      <div class="col nav">
        <nav aria-label="Page navigation example" class="navigation-pagination">
          <ul class="pagination">
            <li
              {% if not posts.has_prev %}
              class="page-item disabled"
              {% else %}
              class="page-item"
              {% endif %}
            >
              <a class="page-link" href="./?page={{ posts.prev_num }}"
                >Раньше</a
              >
            </li>

            {% for post in posts.iter_pages() %}
              <li {% if post == posts.page %} class="page-item disabled" {% else %} class="page-item" {% endif %}>
                <a class="page-link" href="./?page={{ post }}">{{ post }}</a>
              </li>
            {% endfor %}

            <li
              {% if not posts.has_next %}
              class="page-item disabled"
              {% else %}
              class="page-item"
              {% endif %}
            >
              <a class="page-link" href="./?page={{ posts.next_num }}">Позже</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
{% endblock %}
