{% extends 'base.html' %} {% set categories = categories %} {% include 'posts/header.html'%}
{% include 'posts/slider.html'%} {% block content %}
<div class="row">
    <div class="col-md-12">
      <p align="center" class="category-title">Отредактировать пост</p>
    </div>
</div>
<div class="container">
  <div class="col-md-6">
    <form action="{{ url_for('posts.edit_post', slug=post.slug) }}" method="POST">
      {% for field in form %}
      <div class="form-group">
        {{ field.label(class='control-label') }} {{ field(class='form-control')
        }}
      </div>
      {% endfor %}
      <button type="subnit" class="btn btn-success">Сохранить</button>
    </form>
  </div>
</div>
{% endblock %}
