<!-- меню -->
<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ url_for('posts.index') }}"
        >БлогПроПутешествия</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          {% for category in categories %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('posts.posts_category', category_id=category.id) }}">{{ category.name }}</a>
          </li>
          {% endfor %}
          <li class="nav-item">
            <a href="{{ url_for('posts.create_post') }}" class="nav-link">Добавить пост</a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('posts.create_tag') }}" class="nav-link">Добавить тег</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!-- меню -->
