    <!-- слайдер -->
    <div class="container slider">
      <div
        id="carouselExampleSlidesOnly"
        class="carousel slide carousel-fade"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item">
            <img
              src="https://picsum.photos/id/1018/1180/480"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item active">
            <img
              src="https://picsum.photos/id/1040/1180/480"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://picsum.photos/id/179/1180/480"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>
    <!-- слайдер -->